.main_company_box{
    height: 150px;
    padding: 20px;
}
.main_company_box > img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
@media only screen and (max-width: 600px){
    .main_company_box{
        /* padding: 0px; */
        /* width: max-content; */
        margin-inline: 10px;
        /* overflow-x: scroll; */
    }
    .main_company_box > img{
        width: max-content;
        padding: 20px;
    }
}